@font-face {
    font-weight: 700;
    font-family: "Inter-Bold";
    src: url("fonts/Inter-Bold.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Inter-Bold";
    src: url("fonts/Inter-Bold.ttf");
}


body{
    margin: 0;
}

header{
    background: #B8C6F6;
    width: 100%;
    height: 80px;
    z-index: 4;
    position: fixed;
    font-size: 20px;
    font-family: "Inter-Bold";
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

nav {
    margin-top: 28px;
}

nav ul{
    padding-left: 60px;
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 40px;
    color: #FFFFFF;
}

#container{
    width: 100%;
    display: flex;
    justify-content: space-between
}

#myPaletteDiv{
    width: 200px;
    margin-right: 2px;
    border: 4px solid #B8C6F6;
    position: relative;
    cursor: auto;
    background-color: #EAEEFC;
    direction: rtl;
}

#myPaletteDiv canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    touch-action: none;
    width: 103px;
    height: 100vh;
    cursor: auto;
}

#myDiagramDiv{
    overflow: hidden;
    flex-grow: 1;
    height: 100vh;
    position: relative;
    cursor: auto;
}

#myDiagramDiv canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    touch-action: none;
    width: 100%;
    height: 100vh;
    cursor: auto;
}

#myPaletteDiv div, #myDiagramDiv div{
    position: absolute;
    overflow: auto;
    width: 103px;
    height: 100vh;
    z-index: 1;
}

#myPaletteDiv div div, #myDiagramDiv div div {
    position: absolute;
    width: 1px;
    height: 1px;
}

.block{
    display: none;
}

#mySavedModel{
    width:100%;
    height:1px
}

#action{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

button{
    font-family: "Inter-Bold";
    background: rgba(184, 198, 246, 0.3);
    border: 3px solid #B8C6F6;
    border-radius: 40px;
    font-size: 16px;
    color: #2E4FC0;
    padding: 12px 32px;
}


button:hover {
    background: #B8C6F6;
}

#toCode{
    position: absolute;
    bottom: 4%;
    left: 42%;
    z-index: 3;
}

#toPNG{
    position: absolute;
    bottom: 4%;
    left: 24%;
    z-index: 3;
}

#pascal{
    position: absolute;
    top: 11%;
    right: 4%;
    z-index: 3;
    font-family: "Inter-Bold";
}

p{
    text-align: center;
    color: #9eaeea;
}

#code{
    width: 300px;
    height: 720px;

    background: #FFFFFF;
    border: 5px solid #B8C6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

#textCode{
    color: #2E4FC0;
}

#textCompil{
    color: #B8C6F6;
}

#toCompil{
}


.ace_editor, .ace_editor *{
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

.editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editor__wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.editor__body {
    height: 250px;
}

.editor__footer {
    display: flex;
    margin-top: 10px;
    margin-left: 70px;
}

.editor__footer--left {
    display: flex;
}

.editor__footer--right {
    flex: 1;
    overflow: hidden;
}

.editor__btn {
    padding: .5em;
    background-color: #fff;
    border: 2px solid #333;
    margin-top: 1em;
    width: 100px;
    cursor: pointer;
}

.editor__console {
    background-color: #fff;
    width: 100%;
    height: 150px;
    margin-top: .9em;
    border-top: 1px solid #B8C6F6;
    overflow: auto;
    color: #2E4FC0;
    padding: 8px;
}

.editor__code {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #B8C6F6;
}

#formVariables{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 12%;
    left: 16%;
    z-index: 3;
    font-family: "Inter-Bold";
    width: 600px;
    overflow: auto;
}

.autocomplete {
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 4px;
    font-size: 12px;
}
input[type=text] {
    background-color: #f1f1f1;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#parent{
    display: flex;
    background-color: white;
    padding: 16px;
}

.form{
    display: flex;
    align-items: center;
    margin-right: 10px;
}


#parent button {
    padding: 8px 12px; !important;
    margin-left: 10px;
    width: 46px;
}

label{
    color: #2E4FC0;
    font-size: 14px;
}

.formValue textarea{
    width: 295px;
}

#formValue{
    position: absolute;
    top: 40%;
    left: 32%;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter-Bold";

    width: 400px;

    background: #FFFFFF;
    border: 3px solid #B8C6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

#formValue form{
    margin-bottom: 20px;
}

#toValue{
    width: 180px;
    margin-bottom: 20px;
}