@font-face {
    font-weight: 700;
    font-family: "Inter-Bold";
    src: url("fonts/Inter-Bold.ttf");
}


body{
    margin: 0;
}

header{
    background: #F3F3F3;
    stroke: #B6BBC8;
    width: 100%;
    height: 80px;
    z-index: 4;
    position: fixed;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

nav {
    margin-top: 28px;
}

nav ul{
    padding-left: 60px;
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 40px;
    color: #FFFFFF;
}

#container{
    width: 100%;
    display: flex;
    justify-content: space-between
}

#myPaletteDiv{
    width: 240px;
    margin-right: 2px;
    position: relative;
    cursor: auto;
    background-color: white;
    direction: rtl;
}

#myPaletteDiv canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    touch-action: none;
    width: 103px;
    height: 100vh;
    cursor: auto;
}

#myDiagramDiv{
    overflow: hidden;
    flex-grow: 1;
    height: 100vh;
    position: relative;
    cursor: auto;
}

#myDiagramDiv canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    touch-action: none;
    width: 100%;
    height: 100vh;
    cursor: auto;
}

#myPaletteDiv div, #myDiagramDiv div{
    position: absolute;
    overflow: auto;
    width: 103px;
    height: 100vh;
    z-index: 1;
}

#myPaletteDiv div div, #myDiagramDiv div div {
    position: absolute;
    width: 1px;
    height: 1px;
}

.block{
    display: none;
}

#mySavedModel{
    width:100%;
    height:1px
}

#action{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

button{
    font-family: "Inter-Bold";
    padding: 14px 24px;
    gap: 12px;
    border: none;
    height: 48px;
    background: #0A5AF4;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}


button:hover {
    background: #0742B4;
}

#toCode{
    position: absolute;
    bottom: 4%;
    left: 50%;
    z-index: 3;
}

#formValue form{
    margin-bottom: 20px;
}

#toValue{
    width: 180px;
    margin-bottom: 20px;
}