.variables-container {
    background-color: white;
    font-family: "Inter-Bold", sans-serif;
    left: 220px;
    padding: 10px;
    position: absolute;
    top: 100px;
    z-index: 4;
    border-radius: 20px;
}

.variable-row {
    align-items: center;
    display: flex;
}

.variable-label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 5px;
}

.variable-input {
    background-color: white;
    border: 2px solid #B8C6F6;
    border-radius: 5px;
    font-family: "Inter-Bold", sans-serif;
    font-size: 14px;
    margin-top: 5px;
    width: 150px;
}

.remove-variable {
    cursor: pointer;
    height: 40px;
    margin-left: 5px;
    padding: 0;
    width: 40px;
}

.add-variable {
    display: none;
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
}

.ui-autocomplete {
    z-index: 100;
}